code/UserInterface/Service References/ProductProxy/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://norpimws.azurewebsites.net/Product/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://norpimws.azurewebsites.net/Product/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/norpim.BusinessLogicLayer" />
  <xs:element name="ProductGetCompleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="productId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductGetCompleteByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/norpim.BusinessLogicLayer" minOccurs="0" name="ProductGetCompleteByIdResult" nillable="true" type="q2:ProductContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSaveCompleteById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/norpim.BusinessLogicLayer" minOccurs="0" name="contract" nillable="true" type="q3:ProductContract" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductSaveCompleteByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>