code/UserInterface/Service References/ProductProxy/ProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/norpim.BusinessLogicLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/norpim.BusinessLogicLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://norpimws.azurewebsites.net/Product/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ProductContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product" nillable="true" type="tns:CrudeProductContract" />
      <xs:element minOccurs="0" name="ProductAttribute" nillable="true" type="tns:ArrayOfCrudeProductAttributeContract" />
      <xs:element minOccurs="0" name="ProductDocumentation" nillable="true" type="tns:ArrayOfCrudeProductDocumentationContract" />
      <xs:element minOccurs="0" name="ProductIdentifier" nillable="true" type="tns:ArrayOfCrudeProductIdentifierContract" />
      <xs:element minOccurs="0" name="ProductImage" nillable="true" type="tns:ArrayOfCrudeProductImageContract" />
      <xs:element minOccurs="0" name="ProductInfo" nillable="true" type="tns:ArrayOfCrudeProductInfoContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductContract" nillable="true" type="tns:ProductContract" />
  <xs:complexType name="CrudeProductContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductBecameId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateRcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemOwnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CrudeProductContract" nillable="true" type="tns:CrudeProductContract" />
  <xs:complexType name="ArrayOfCrudeProductAttributeContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CrudeProductAttributeContract" nillable="true" type="tns:CrudeProductAttributeContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCrudeProductAttributeContract" nillable="true" type="tns:ArrayOfCrudeProductAttributeContract" />
  <xs:complexType name="CrudeProductAttributeContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductAttributeId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductAttributeRcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductAttributeUnitRcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CrudeProductAttributeContract" nillable="true" type="tns:CrudeProductAttributeContract" />
  <xs:complexType name="ArrayOfCrudeProductDocumentationContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CrudeProductDocumentationContract" nillable="true" type="tns:CrudeProductDocumentationContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCrudeProductDocumentationContract" nillable="true" type="tns:ArrayOfCrudeProductDocumentationContract" />
  <xs:complexType name="CrudeProductDocumentationContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Documentation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDocumentationId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductDocumentationTypeRcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CrudeProductDocumentationContract" nillable="true" type="tns:CrudeProductDocumentationContract" />
  <xs:complexType name="ArrayOfCrudeProductIdentifierContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CrudeProductIdentifierContract" nillable="true" type="tns:CrudeProductIdentifierContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCrudeProductIdentifierContract" nillable="true" type="tns:ArrayOfCrudeProductIdentifierContract" />
  <xs:complexType name="CrudeProductIdentifierContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductIdentifierId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductIdentifierRcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CrudeProductIdentifierContract" nillable="true" type="tns:CrudeProductIdentifierContract" />
  <xs:complexType name="ArrayOfCrudeProductImageContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CrudeProductImageContract" nillable="true" type="tns:CrudeProductImageContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCrudeProductImageContract" nillable="true" type="tns:ArrayOfCrudeProductImageContract" />
  <xs:complexType name="CrudeProductImageContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ProductId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductImageId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductImageTypeRcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CrudeProductImageContract" nillable="true" type="tns:CrudeProductImageContract" />
  <xs:complexType name="ArrayOfCrudeProductInfoContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CrudeProductInfoContract" nillable="true" type="tns:CrudeProductInfoContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCrudeProductInfoContract" nillable="true" type="tns:ArrayOfCrudeProductInfoContract" />
  <xs:complexType name="CrudeProductInfoContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProductId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductInfoId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProductInfoRcd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductInfoValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CrudeProductInfoContract" nillable="true" type="tns:CrudeProductInfoContract" />
</xs:schema>