code/UserInterface/Service References/ProductProxy/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://norpimws.azurewebsites.net/Product/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://norpimws.azurewebsites.net/Product/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://norpimws.azurewebsites.net/Product/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/norpim.BusinessLogicLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_ProductGetCompleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetCompleteById" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductGetCompleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductGetCompleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductSaveCompleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductSaveCompleteById" />
  </wsdl:message>
  <wsdl:message name="IProductService_ProductSaveCompleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductSaveCompleteByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="ProductGetCompleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/ProductGetCompleteById" message="tns:IProductService_ProductGetCompleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/ProductGetCompleteByIdResponse" message="tns:IProductService_ProductGetCompleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductSaveCompleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/ProductSaveCompleteById" message="tns:IProductService_ProductSaveCompleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/ProductSaveCompleteByIdResponse" message="tns:IProductService_ProductSaveCompleteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProductGetCompleteById">
      <soap:operation soapAction="http://tempuri.org/IProductService/ProductGetCompleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductSaveCompleteById">
      <soap:operation soapAction="http://tempuri.org/IProductService/ProductSaveCompleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://norpimws.azurewebsites.net/Product/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>