code/UserInterface/Service References/CategoryProxy/ProductCategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductCategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://norpimws.azurewebsites.net/Product/ProductCategoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://norpimws.azurewebsites.net/Product/ProductCategoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://norpimws.azurewebsites.net/Product/ProductCategoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/norpim.BusinessLogicLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductCategoryService_CleanSlate_InputMessage">
    <wsdl:part name="parameters" element="tns:CleanSlate" />
  </wsdl:message>
  <wsdl:message name="IProductCategoryService_CleanSlate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanSlateResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCategoryService_ProductCategoryGetCompleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductCategoryGetCompleteById" />
  </wsdl:message>
  <wsdl:message name="IProductCategoryService_ProductCategoryGetCompleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductCategoryGetCompleteByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCategoryService_PositionDown_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionDown" />
  </wsdl:message>
  <wsdl:message name="IProductCategoryService_PositionDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionDownResponse" />
  </wsdl:message>
  <wsdl:message name="IProductCategoryService_PositionUp_InputMessage">
    <wsdl:part name="parameters" element="tns:PositionUp" />
  </wsdl:message>
  <wsdl:message name="IProductCategoryService_PositionUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:PositionUpResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductCategoryService">
    <wsdl:operation name="CleanSlate">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductCategoryService/CleanSlate" message="tns:IProductCategoryService_CleanSlate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductCategoryService/CleanSlateResponse" message="tns:IProductCategoryService_CleanSlate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductCategoryGetCompleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductCategoryService/ProductCategoryGetCompleteById" message="tns:IProductCategoryService_ProductCategoryGetCompleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductCategoryService/ProductCategoryGetCompleteByIdResponse" message="tns:IProductCategoryService_ProductCategoryGetCompleteById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductCategoryService/PositionDown" message="tns:IProductCategoryService_PositionDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductCategoryService/PositionDownResponse" message="tns:IProductCategoryService_PositionDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PositionUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductCategoryService/PositionUp" message="tns:IProductCategoryService_PositionUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductCategoryService/PositionUpResponse" message="tns:IProductCategoryService_PositionUp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductCategoryService" type="tns:IProductCategoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CleanSlate">
      <soap:operation soapAction="http://tempuri.org/IProductCategoryService/CleanSlate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductCategoryGetCompleteById">
      <soap:operation soapAction="http://tempuri.org/IProductCategoryService/ProductCategoryGetCompleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionDown">
      <soap:operation soapAction="http://tempuri.org/IProductCategoryService/PositionDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PositionUp">
      <soap:operation soapAction="http://tempuri.org/IProductCategoryService/PositionUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductCategoryService">
    <wsdl:port name="BasicHttpBinding_IProductCategoryService" binding="tns:BasicHttpBinding_IProductCategoryService">
      <soap:address location="http://norpimws.azurewebsites.net/Product/ProductCategoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>